/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&family=Itim&family=Indie+Flower&&display=swap");
/* UTILITIES */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #f5f5f5;
}

#body-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../images/tech-girl.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#body-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/tech-girl.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


/* HERO TEXT */

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: "Indie Flower", cursive;
}

h1 {
    color: #0b525b;
}

#tag {
    font-size: 1.5rem;
    font-family: "Itim", cursive;
    color: #0b525b;
}

#head-line {
    font-family: "Itim", cursive;
}

/* HERO-TEXT BUTTON */

#quiz-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: #0b525b;
    background-color: #caf0f8;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    opacity: 0;
    -webkit-animation-name: animation-btn;
    animation-name: animation-btn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: #0b525b;
    background-color: #caf0f8;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    line-height: 25px;
}

.btn:hover {
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 0 0.4rem 0.4rem 0 #0b525b;
    transition: 150ms;
    transform: scale(1.03);
}

.delay {
    opacity: 0;
    -webkit-animation-name: animation-btn;
    animation-name: animation-btn;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

@keyframes animation-btn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* TEXT ANIMATION */
.text-animation span {
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 50px;
    font-weight: 600;
    opacity: 0;
    text-transform: uppercase;
    animation: fade 400ms ease-in-out forwards;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fade {
    0% {
        top: 10px;
        left: 10px;
        filter: blur(15px);
        opacity: 0;
    }

    50% {
        filter: blur(10px);
        opacity: 0.9;
    }

    100% {
        top: 0px;
        left: 0px;
        filter: blur(0px);
        opacity: 1;
    }
}

/* QUIZ */

#quiz {
    position: relative;
}

h2.title {
    text-align: center;
    color: #152b34;
    font-size: 3em;
    font-family: "Arial Narrow", Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 40px;
}

.horizontal-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
}

#quiz-container {
    border: 1px solid #caf0f8;
    border-radius: 5px;
    background-color: #0b525b;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    box-shadow: 5px 2px;
}

/* QUIZ CARD ANIMATION */
.quiz-animation {
    animation: animationFrames ease 2.5s;
    animation-iteration-count: 2;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    /*when the spec is finished*/
    -webkit-animation: animationFrames ease-in-out 2.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards;
    /*Chrome 16+, Safari 4+*/
}

@keyframes animationFrames {
    0% {
        opacity: 0;
        transform: translate(-1500px, 0px);
    }

    60% {
        opacity: 1;
        transform: translate(30px, 0px);
    }

    80% {
        transform: translate(-10px, 0px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity: 0;
        -webkit-transform: translate(-1500px, 0px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate(30px, 0px);
    }

    80% {
        -webkit-transform: translate(-10px, 0px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
    }
}

#quiz ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#quiz li {
    margin: 5px auto;
    border: 2px solid #caf0f8;
    border-radius: 5px;
    width: 80%;
    text-align: justify;
}

input {
    display: none;
}

input:checked+label {
    color: #207d8a;
    background-color: #caf0f8;
}

input:checked+label {
    color: #207d8a;
    background-color: #caf0f8;
}

input:hover+label {
    color: #207d8a;
    background-color: #caf0f8;
}

label {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 1% 2%;
}

#quiz label {
    cursor: pointer;
}

#question {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    margin-left: 20px;
    margin-right: 20px;
}

.next-btn,
.try-again-btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: #152b34;
    background-color: #caf0f8;
    border: 2px solid #caf0f8;
    cursor: pointer;
    border-radius: 15px;
    width: fit-content;
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.next-btn:hover {
    border: 2px solid #fff;
}

.try-again-btn:hover {
    border: 2px solid white;
}

.try-again-btn {
    text-decoration: none;
}

/* THE results MODAL */

/* Modal background */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* Modal Content/Box */

.modal-content {
    background-color: #caf0f8;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #457b9d;
    width: 80%;
    color: #1d3557;
    font-size: 1.5rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* The Close Button */

.close {
    color: #ddd;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.try-again-btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 2px 2px 2px black;
}

/*RESULT CARD*/

.card {
    margin: 0 auto;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgba(11, 82, 91, 1);
    border-radius: 10px;
    font-family: "New Tegomin", serif;
    box-shadow: 0px 2px 5px rgb(255 255 255 / 20%);
    border: 1px solid #ddd;
    width: 40rem;
}

.card-text {
    color: #ddd;
    padding: 20px 20px;
    text-align: justify;
    margin: 5px 0px;
}

.card-title {
    color: #ddd;
    text-align: center;
    font-size: x-large;
    margin: 10px 10px;
}

.image {
    display: flex;
    padding: 10px;
    width: 70%;
    margin: auto;
    justify-content: center;
}

.btn-primary {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align: justify;
    color: #ddd;
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#results-modal,
#all-results-modal {
    background: rgba(0, 0, 0, 0.7);
    animation: zoomIn 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    justify-content: space-around;
    display: none;
}

#results-btn {
    display: none;
}

.button-close-modal {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-left: auto;
}

#results-div {
    padding: 10%;
}

#career-div,
#results-div {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

#all-careers p,
#all-careers a,
#results-card p,
#results-card a {
    display: flex;
    justify-content: space-evenly;
}



#all-careers a:hover {
    font-size-adjust: 110%;
}

.results-img {
    height: 330px;
    width: 280px;
    object-fit: cover;
}

.results-card {
    background-color: rgba(11, 82, 91, 1);
    width: 31.3%;
    display: inline-flex;
    margin: 1%;
    color: white;
    font-family: "New Tegomin", serif;
    box-shadow: 0px 2px 15px rgb(31 37 75 / 80%);
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 5%;
    align-items: center;
    flex-direction: column;
}

.results-card img {
    margin: 5%;
    width: 80%;
}

.results-card h5 {
    font-size: 1.4rem;
    border-bottom: brown 1px;
}

.results-card p {
    font: 1rem;
    align-self: flex-start;
}

.results-card:last-child {
    margin-right: 35%;
    margin-left: 35%;
}

#results-div {
    padding: 10%;
}

#career-div,
#results-div {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

#all-careers p,
#all-careers a,
#results-card p,
#results-card a {
    display: flex;
    justify-content: space-evenly;
}

#all-careers a,
#results-card a,
.white-link {
    text-decoration: underline;
    color: #0b525b;
    font-size: 1rem;
    background-color: #f7fcff;
    margin-top: 10px;
    
}


#all-careers a:hover {
    font-size-adjust: 110%;
}

.results-img {
    height: 330px;
    width: 280px;
    object-fit: cover;
}

.results-card {
    background-color: rgba(11, 82, 91, 1);
    width: 31.3%;
    display: inline-flex;
    margin: 1%;
    color: white;
    font-family: "New Tegomin", serif;
    box-shadow: 0px 2px 15px rgb(31 37 75 / 80%);
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 5%;
    align-items: center;
    flex-direction: column;
}

.results-card img {
    margin: 5%;
    width: 80%;
}

.results-card h5 {
    font-size: 1.4rem;
    border-bottom: brown 1px;
}

.results-card p {
    font: 1rem;
    align-self: flex-start;
}

.results-card:last-child {
    margin-right: 35%;
    margin-left: 35%;
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

/* Resources*/

.resources-card {
    margin: 0 auto;
    border-radius: 5px;
    background-color: #0b525b;
    color: #fff;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: 90%;
    padding: 30px;
}

.women img {
    width: 300px;
    float: left;
    margin: 0 10px 10px 0;
}

.resources-card h3 {
    clear: both;
}

.resources-card p {
    padding: 0 30px;
    text-align: justify;
    margin-top: 50px;
}

.resources-card a {
    text-decoration: none;
}

.women {
    background-color: #f5f5f5;
    color: black;
    margin: 0 -30px;
    padding: 0 30px;
    overflow: hidden;
    margin-top: 50px;
    padding-bottom:50px;
}

.resources {
    clear: both;
    padding-top:20px;
}

.resources h3 {
    margin-bottom: 20px;
}



.button-resources {
    display: inline-block;
    margin: 0 20px;
}

.buttons {
    text-align: center;
}

.resources li a {
    text-decoration: underline;
    color: white;
}

#all-careers p,
#results-card p,
#results-card a {
    display: flex;
    justify-content: space-evenly;
}

#all-careers a {
    text-decoration: underline;
    color: #0b525b;
    font-size: 1rem;
}

#all-careers a:hover {
    font-size-adjust: 110%;
}

.results-img {
    height: 330px;
    width: 280px;
    object-fit: cover;
}

#percentage {
    display: flex;
    justify-content: space-around;
    color: white;
}


/*  MEDIA QUERY */
@media only screen and (max-width: 800px) {
    #body-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url("../images/tech-girl-mobile.jpg");
    }

    .horizontal-center {
        width: 90%;
    }

    h2.title {
        font-size: 2.2em;
    }

    #question {
        font-size: 1.2em;
    }

    #quiz-container {
        font-size: 1em;
    }
}

@media only screen and (max-width: 600px) {
    .results-card {
        width: 100%;
    }

    .results-card:last-child {
        margin: 1%;
    }

    .card {
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    .text-animation {
        line-height: 40px;
    }

    .btn {
        font-size: small;
        padding: 0 0.5rem;
    }

    .delay {
        line-height: 25px;
    }
}